<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn">Jugar</button><br><br>

    <h3 id="counter_start"> </h3>
    <br> <br> <br>
<h4 id="winner_player"></h4>
<br><br>
<table class="table">
      <tr id="Player1">
        <td id="player1"><strong><%= @username_1.user_name%></strong></td>
      </tr>

      <tr id="Player2">
        <td id="player2"><strong><%= @username_2.user_name%></strong></td>
      </tr>
</table>
<br><br><br><br>

<a href="/results">Ver historial</a>

<h4>Instrucciones: </h4>
<p>Instrucciones del juego: Pulsa tecla izquierda para usuario1. Pulsa tecla derecha para usuario 2</p>