<h1>Bienvenido a rayuela!!</h1>

<form action = "/index" method="post">
  <h3>Ingresa el username del jugador 1:</h3>
  <input type = "text" name="user_1">
  <h3>Ingresa el username del jugador 2:</h3>
  <input type = "text" name="user_2"><br><br>
  <input type = "submit">
</form>